In [1]:
import pandas as pd

In [10]:
weeklyavodf=pd.read_csv('WeeklyAvoReport - Table 1.csv', header=[0,3])
weeklyavodf.iloc[22, 0]='Jun 9-(32)'
actualweeklyavodf=weeklyavodf.iloc[:52, :]
actualweeklyavodf

,2019 California Crop Weekly Harvest Projection\nWeekly Crop Movement vs. Distribution Projections All Varieties,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0
,(CAC W ee k),CropEstimate,Update,Harvest,Shipments,Unnamed: 5_level_1
0,Jan 6 - (10),"71,093","19,300",NaN,"14,249",NaN
1,Jan 13 - (11),"429,349","100,900","93,307","27,150",NaN
2,Jan 20 - (12),"733,951","153,600","41,961","41,200",NaN
3,Jan 27- (13),"1,529,966","231,700","332,623","92,431",NaN
4,Feb 3 - (14),"1,549,775","271,100","233,836","174,276",NaN
5,Feb 10 - (15),"1.427,131","225,300","133,856","158,608",NaN
6,Feb 17 - (16 ),"1,476,625","233,300","226,626","252,788",NaN
7,Feb 24 - (17),"1,832,114","285,300","420,995","383,031",NaN
8,Mar 3 - (18),"2,758,217","995,200","716,519","628,068",NaN
9,Mar 10 - (19),"3,376,290","1,213,500","580,720","564,093",NaN
10,Mar 17 - (20),"4,280,515","1,515,600","1,149,730","698,237",NaN
11,Mar 24 - (21),"4,232,102","1,491,600","1,620,622","940,416",NaN
12,Mar 31 - (22 ),"5,271,164","1,834,100","3,537,471","1,747,653",NaN
13,Apr 7 - (23),"5,750,819","8,579,700","8,256,079","4,191,696",NaN
14,Apr 14 - (24),"6,555,329","9,759,200","11,604,261","5,831,398",NaN
15,Apr 21 - (25),"7,092,633","10,546,100","10,304,053","5,878,068",NaN
16,Apr 28 - (26),"8,157,305","12,115,600","9,844,728","7,945,623",NaN
17,May 5 - (27),"8,386,056","7,299,800","7,519,597","9,688,008",NaN
18,May 12 - (28),"7,694,000","6,695,000","6,934,469","9,527,653",NaN
19,May 19- (291,"7,355,372","6,401,600","10,031,829","10,140,349",NaN
20,May 26 - (30),"8,180,321","7,119,600","11,799,931","11,102,573",NaN
21,Jun 2 - (31 ),"7,648,747","6,656,300","9,725,414","8,380,505","192,361,719"
22,Jun 9-(32),"6,794,936","8,693,500","10,753,155","11,084,147","193,398,228"
23,Jun 16 - (33),"7,174,220","9,174,700","11,305,158","10,449,531","196,024,662"
24,Jun 23 - (34),"7,439,590","9,502,600","12,949,517","11,875,141","199,072,642"
25,Jun 30 - (35),"7,044,822","8,933,400","14,126,304","12,435,425","204,262,885"
26,Jul 7 - (36),"7,183,374","7,654,800","13,056,239","13,325,006","209,399,586"
27,Jul 14 - (37),"6,864,306","7,283,300","13,196,924","12,125,979","214,721,313"
28,Jul 21- (38),"7,056,509","7,483,600","10,199,390","11,270,316","215,612,788"
29,Jul 28 - (39),"5,684,434","6,043,600","7,775,647","10,462,878","215,739,259"
30,Aug 4 - (40),"4,904,787","4,741,000","5,571,768","7,768,763","215,245,835"
31,Aug 11 - (41),"4,180,595","4,040,700","4,332,022","6,479,019","214,398,380"
32,Aug 18 - (42),"3,655,708","3,531,300","3,980,064","5,583,347","213,897,876"
33,Aug 25 - (43),"2,905,312","2,805,900","3,103,562","4,740,909","213,454,376"
34,Sep 1 - (44),"2,336,529","2,256,400","2,302,827","4,062,457","212,910,891"
35,Sep 8 - (45),"1,527,122","1,245,200","1,132,053","2,441,347","212,476,102"
36,Sep 15 - (46),"1,095,437","886,900","1,177,604","2,037,644","212,327,902"
37,Sep 22 - (47),"1,071,316","855,200","738,963","1,267,958","212,213,552"
38,Sep 29 - (48),"868,897","693,500","631,328","921,499","211,978,578"
39,Oct 6 - (49),"440,852","101,500","490,984","749,759","212,343,706"
40,Oct 13 - (50),"264,855","49,200","175,308","508,978","212,457,747"
41,Oct 20 - (51),"121,110","21,500",NaN,"377,456","212,430,837"
42,Oct 27 - (52),"119,054","19,800",NaN,"172,391","212,406,060"
43,Nov 3 - (1 ),"69,753","11,400",NaN,"9,376","212,393,212"
44,Nov 10 - (2 ),"5,131","5,000","4,309","6,810","212,385,542"
45,Nov 17 - (3),"2,566","2,500","4,394",NaN,"212,382,415"
46,Nov 24 - (4),"27,189","26,700",NaN,NaN,"212,349,020"
47,Dec 1 - (5),"27,129","26,800","14,005","5,112","212,338,242"
48,Dec 8 - (6),"18,486","8,400",NaN,"5,389","212,327,740"
49,Dec 15 - (7),"50,515","59,100","20,251","19,813","212,274,144"
50,Dec 22 - (8 ),"148,063","56,300",NaN,NaN,NaN
51,Dec 29 - (9),"128,529","42,800",NaN,NaN,NaN

In [11]:
actualweeklyavodf.to_csv('trueweeklyavoreportca.csv')

In [15]:
totalinfosummary=weeklyavodf.iloc[54:57, :5]
totalinfosummary

,2019 California Crop Weekly Harvest Projection\nWeekly Crop Movement vs. Distribution Projections All Varieties,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0
,(CAC W ee k),CropEstimate,Update,Harvest,Shipments
54,%of Crop,100%,100%,125%,123%
55,Crop Size,"175,000,000","170,000,000",LefttoHarvest,Left to Ship
56,Crop Variance,"37,426,993","42,249,501","(42,150,401)","(38,594,522)"

In [16]:
totalinfosummary.to_csv('totalweeklyinfosummaryca.csv')