In [2]:
import pandas as pd

In [3]:
url = 'https://www.californiaavocadogrowers.com/industry/industry-statistical-data'

In [4]:
tables=pd.read_html(url)
tables

[     Year  Bearing Acres  Volume (millions of pounds) Crop Value ($)  \
 0   71/72          19039                         51.7    $24,608,846
 1   72/73          19611                        139.9    $38,188,186
 2   73/74          20741                        105.9    $41,997,543
 3   74/75          20715                        208.7    $49,529,969
 4   75/76          24882                        116.0    $61,000,794
 5   76/77          29041                        239.1    $71,220,507
 6   77/78          33866                        213.4    $79,685,614
 7   78/79          39802                        246.2    $85,359,795
 8   79/80          44369                        148.4   $111,003,231
 9   80/81          47831                        475.5    $84,963,825
 10  81/82          64798                        312.6   $107,740,745
 11  82/83          69448                        402.8    $92,622,286
 12  83/84          72296                        492.5    $91,102,869
 13  84/85          72861                        396.9   $115,562,999
 14  85/86          74131                        319.2   $162,095,058
 15  86/87          74812                        555.6    $93,875,414
 16  87/88          76307                        358.1   $203,796,649
 17  88/89          75062                        329.6   $207,124,111
 18  89/90          73368                        207.9   $237,547,848
 19  90/91          71007                        271.5   $193,188,395
 20  91/92          69582                        310.9   $182,596,792
 21  92/93          68159                        569.8   $117,939,346
 22  93/94          66865                        271.0   $251,086,521
 23  94/95          61254                        304.2   $227,313,720
 24  95/96          61125                        340.4   $235,225,728
 25  96/97          60674                        329.1   $258,991,040
 26  97/98          59895                        304.9   $261,126,590
 27  98/99          59385                        271.5   $328,745,982
 28  99/00          58987                        321.1   $339,443,632
 29  00/01          58601                        422.3   $314,919,286
 30  01/02          58227                        399.7   $357,785,350
 31  02/03          59326                        335.2   $363,104,986
 32  03/04          60566                        431.8   $379,846,520
 33  04/05          61712                        300.4   $275,034,420
 34  05/06          62093                        600.9   $341,175,673
 35  06/07          64999                        259.3   $244,911,167
 36  07/08          65497                        328.8   $327,141,689
 37  08/09          64555                        174.5   $199,625,988
 38  09/10          58268                        534.5   $402,770,893
 39  10/11          57532                        302.5   $460,209,682
 40  11/12          59629                        462.3   $381,852,467
 41  12/13          57838                        500.2   $435,023,142
 42  13/14          57219                        297.5   $333,216,563
 43  14/15          51478                        279.0   $303,160,400
 44  15/16          51902                        401.4   $412,332,493
 45  16/17          50856                        215.9   $345,875,896
 46  17/18          49986                        337.8   $383,129,253

     Price Per Pound (Â¢) Average Dollars Per Bearing Acre ($)  \
 0                 47.58                               $1,293
 1                 27.28                               $1,947
 2                 39.63                               $2,025
 3                 23.73                               $2,391
 4                 52.60                               $2,452
 5                 29.78                               $2,452
 6                 37.33                               $2,353
 7                 34.67                               $2,145
 8                 74.79                               $2,502
 9                 17.87                               $1,776
 10                34.47                               $1,663
 11                22.99                               $1,334
 12                18.50                               $1,260
 13                29.10                               $1,586
 14                50.78                               $2,187
 15                16.90                               $1,255
 16                56.91                               $2,671
 17                62.84                               $2,759
 18               114.23                               $3,238
 19                71.16                               $2,721
 20                58.73                               $2,624
 21                20.70                               $1,730
 22                92.67                               $3,755
 23                74.73                               $3,711
 24                69.10                               $3,848
 25                78.71                               $4,269
 26                85.64                               $4,360
 27               121.09                               $5,536
 28               105.71                               $5,755
 29                74.57                               $5,374
 30                89.51                               $6,145
 31               108.32                               $6,121
 32                87.97                               $6,272
 33                91.55                               $4,457
 34                56.78                               $5,495
 35                94.45                               $3,768
 36                99.50                               $4,995
 37               114.40                               $3,092
 38                75.35                               $6,912
 39               152.10                               $7,999
 40                82.60                               $6,404
 41                87.00                               $7,521
 42               112.00                               $5,823
 43               108.60                               $5,889
 44               102.70                               $7,944
 45               160.20                               $6,801
 46               113.40                               $7,665

     Average Pounds Per Bearing Acre
 0                              2715
 1                              7134
 2                              5106
 3                             10075
 4                              4662
 5                              8233
 6                              6301
 7                              6186
 8                              3345
 9                              9941
 10                             4824
 11                             5800
 12                             6812
 13                             5447
 14                             4306
 15                             7427
 16                             4693
 17                             4391
 18                             2834
 19                             3824
 20                             4468
 21                             8360
 22                             4053
 23                             4966
 24                             5569
 25                             5424
 26                             5091
 27                             4572
 28                             5444
 29                             7206
 30                             6865
 31                             5650
 32                             7129
 33                             4868
 34                             9677
 35                             3989
 36                             5020
 37                             2703
 38                             9173
 39                             5258
 40                             7753
 41                             8648
 42                             5199
 43                             5420
 44                             7733
 45                             4245
 46                             6758  ]

In [5]:
type(tables)

list

In [8]:
annualsince71df = tables[0]
annualsince71df.columns=['Year', 'Bearing Acres', 'Volume (millions of pounds)', 
                         'Crop Value ($)', 'Price Per LB',  
                         'Average $ per Acre', 'Average Lbs Per Acre']
annualsince71df

,Year,Bearing Acres,Volume (millions of pounds),Crop Value ($),Price Per LB,Average $ per Acre,Average Lbs Per Acre
0,71/72,19039,51.7,"$24,608,846",47.58,"$1,293",2715
1,72/73,19611,139.9,"$38,188,186",27.28,"$1,947",7134
2,73/74,20741,105.9,"$41,997,543",39.63,"$2,025",5106
3,74/75,20715,208.7,"$49,529,969",23.73,"$2,391",10075
4,75/76,24882,116.0,"$61,000,794",52.60,"$2,452",4662
5,76/77,29041,239.1,"$71,220,507",29.78,"$2,452",8233
6,77/78,33866,213.4,"$79,685,614",37.33,"$2,353",6301
7,78/79,39802,246.2,"$85,359,795",34.67,"$2,145",6186
8,79/80,44369,148.4,"$111,003,231",74.79,"$2,502",3345
9,80/81,47831,475.5,"$84,963,825",17.87,"$1,776",9941
10,81/82,64798,312.6,"$107,740,745",34.47,"$1,663",4824
11,82/83,69448,402.8,"$92,622,286",22.99,"$1,334",5800
12,83/84,72296,492.5,"$91,102,869",18.50,"$1,260",6812
13,84/85,72861,396.9,"$115,562,999",29.10,"$1,586",5447
14,85/86,74131,319.2,"$162,095,058",50.78,"$2,187",4306
15,86/87,74812,555.6,"$93,875,414",16.90,"$1,255",7427
16,87/88,76307,358.1,"$203,796,649",56.91,"$2,671",4693
17,88/89,75062,329.6,"$207,124,111",62.84,"$2,759",4391
18,89/90,73368,207.9,"$237,547,848",114.23,"$3,238",2834
19,90/91,71007,271.5,"$193,188,395",71.16,"$2,721",3824
20,91/92,69582,310.9,"$182,596,792",58.73,"$2,624",4468
21,92/93,68159,569.8,"$117,939,346",20.70,"$1,730",8360
22,93/94,66865,271.0,"$251,086,521",92.67,"$3,755",4053
23,94/95,61254,304.2,"$227,313,720",74.73,"$3,711",4966
24,95/96,61125,340.4,"$235,225,728",69.10,"$3,848",5569
25,96/97,60674,329.1,"$258,991,040",78.71,"$4,269",5424
26,97/98,59895,304.9,"$261,126,590",85.64,"$4,360",5091
27,98/99,59385,271.5,"$328,745,982",121.09,"$5,536",4572
28,99/00,58987,321.1,"$339,443,632",105.71,"$5,755",5444
29,00/01,58601,422.3,"$314,919,286",74.57,"$5,374",7206
30,01/02,58227,399.7,"$357,785,350",89.51,"$6,145",6865
31,02/03,59326,335.2,"$363,104,986",108.32,"$6,121",5650
32,03/04,60566,431.8,"$379,846,520",87.97,"$6,272",7129
33,04/05,61712,300.4,"$275,034,420",91.55,"$4,457",4868
34,05/06,62093,600.9,"$341,175,673",56.78,"$5,495",9677
35,06/07,64999,259.3,"$244,911,167",94.45,"$3,768",3989
36,07/08,65497,328.8,"$327,141,689",99.50,"$4,995",5020
37,08/09,64555,174.5,"$199,625,988",114.40,"$3,092",2703
38,09/10,58268,534.5,"$402,770,893",75.35,"$6,912",9173
39,10/11,57532,302.5,"$460,209,682",152.10,"$7,999",5258
40,11/12,59629,462.3,"$381,852,467",82.60,"$6,404",7753
41,12/13,57838,500.2,"$435,023,142",87.00,"$7,521",8648
42,13/14,57219,297.5,"$333,216,563",112.00,"$5,823",5199
43,14/15,51478,279.0,"$303,160,400",108.60,"$5,889",5420
44,15/16,51902,401.4,"$412,332,493",102.70,"$7,944",7733
45,16/17,50856,215.9,"$345,875,896",160.20,"$6,801",4245
46,17/18,49986,337.8,"$383,129,253",113.40,"$7,665",6758

In [10]:
reduced71df=annualsince71df.drop(['Volume (millions of pounds)', 
                         'Crop Value ($)', 'Price Per LB'], axis=1)
reduced71df

     Year  Bearing Acres Average $ per Acre  Average Lbs Per Acre
0   71/72          19039             $1,293                  2715
1   72/73          19611             $1,947                  7134
2   73/74          20741             $2,025                  5106
3   74/75          20715             $2,391                 10075
4   75/76          24882             $2,452                  4662
5   76/77          29041             $2,452                  8233
6   77/78          33866             $2,353                  6301
7   78/79          39802             $2,145                  6186
8   79/80          44369             $2,502                  3345
9   80/81          47831             $1,776                  9941
10  81/82          64798             $1,663                  4824
11  82/83          69448             $1,334                  5800
12  83/84          72296             $1,260                  6812
13  84/85          72861             $1,586                  5447
14  85/86          74131             $2,187                  4306
15  86/87          74812             $1,255                  7427
16  87/88          76307             $2,671                  4693
17  88/89          75062             $2,759                  4391
18  89/90          73368             $3,238                  2834
19  90/91          71007             $2,721                  3824
20  91/92          69582             $2,624                  4468
21  92/93          68159             $1,730                  8360
22  93/94          66865             $3,755                  4053
23  94/95          61254             $3,711                  4966
24  95/96          61125             $3,848                  5569
25  96/97          60674             $4,269                  5424
26  97/98          59895             $4,360                  5091
27  98/99          59385             $5,536                  4572
28  99/00          58987             $5,755                  5444
29  00/01          58601             $5,374                  7206
30  01/02          58227             $6,145                  6865
31  02/03          59326             $6,121                  5650
32  03/04          60566             $6,272                  7129
33  04/05          61712             $4,457                  4868
34  05/06          62093             $5,495                  9677
35  06/07          64999             $3,768                  3989
36  07/08          65497             $4,995                  5020
37  08/09          64555             $3,092                  2703
38  09/10          58268             $6,912                  9173
39  10/11          57532             $7,999                  5258
40  11/12          59629             $6,404                  7753
41  12/13          57838             $7,521                  8648
42  13/14          57219             $5,823                  5199
43  14/15          51478             $5,889                  5420
44  15/16          51902             $7,944                  7733
45  16/17          50856             $6,801                  4245
46  17/18          49986             $7,665                  6758

In [11]:
reduced71df.to_csv('annualsince71.csv')

In [12]:
reduced71df.to_html('annualsince71.html')